extends layout

block content
  h1= title

  form(id='MonkeyForm', action="/resource/Monkeys/", method="POST")
    div.form-group
        label.MonkeyAttr(for='Monkey_name') Monkey name
        input#Monkeyname(type='text', name='Monkey_name')
    div.form-group
        label.MonkeyAttr(for='Monkey_gender') Monkey gender
        input#Monkeygender(type='text', name='Monkey_gender')
    div.form-group
        label.MonkeyAttr(for='Monkey_age') Monkey age
        input#Monkeyage(type='number', name='Monkey_age')
    input(type="submit")

  script.
    document.forms['MonkeyForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show user that form is being submitted
      fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Save succeded")
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Save failed " + error )
      });
    });